{% extends('base.html.twig') %}
    
{% block body %}

    <h1 class="text-center">Inscription</h1>
    {# {{include('form.html.twig')}} #}
 <h2 class="text-center" >L'inscription se fait par parrainage Merci</h2>

<div class="loader"></div>
    

{% endblock %}
