<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
            <style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  margin-left:35%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


{# login form style #}
    body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.label{
    background:none;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
{# end login form style #}

{# dashboard user #}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 88%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url("https://i.postimg.cc/fbSXnBct/video.png");
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  min-height: 100vh;
  padding: 2rem 0;

  section {
    width: 100%;

    .lx-column {
      &.column-user-pic {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
      }
    }

    .profile-pic {
      width: auto;
      max-width: 20rem;
      margin: 3rem 2rem;
      padding: 2rem;
      display: flex;
      flex-flow: wrap column;
      align-items: center;
      justify-content: center;
      border-radius: 0.25rem;
      background-color: white;

      .pic-label {
        width: 100%;
        margin: 0 0 1rem 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
      }

      .pic {
        width: 16rem;
        height: 16rem;
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        .lx-btn {
          opacity: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          display: none;
          align-items: center;
          justify-content: center;
          text-transform: none;
          font-size: 1rem;
          color: white;
          background-color: rgba(0, 0, 0, 0.8);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        &:focus,
        &:focus-within,
        &:hover {
          .lx-btn {
            opacity: 1;
            display: flex;
          }
        }
      }

      .pic-info {
        width: 100%;
        margin: 2rem 0 0 0;
        font-size: 0.9rem;
        text-align: center;
      }
    }

    form {
      width: auto;
      min-width: 15rem;
      max-width: 25rem;
      margin: 3rem 0 0 0;

      .fieldset {
        width: 100%;
        margin: 2rem 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        label {
          width: 100%;
          margin: 0 0 1rem 0;
          font-size: 1.2rem;
          font-weight: 700;
        }

        .input-wrapper {
          width: 100%;
          display: flex;
          flex-flow: nowrap;
          align-items: stretch;
          justify-content: center;

          .icon {
            width: fit-content;
            margin: 0;
            padding: 0.375rem 0.75rem;
            display: flex;
            align-items: center;
            border-top-left-radius: 0.25em;
            border-bottom-left-radius: 0.25em;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0.0625rem solid #ced4da;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            background-color: #e9ecef;
          }

          input,
          select {
            flex-grow: 1;
            min-height: 3rem;
            padding: 0.375rem 0.75rem;
            display: block;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0.25em;
            border-bottom-right-radius: 0.25em;
            border: 0.0625rem solid #ced4da;
            border-left: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
          }

          &:focus,
          &:focus-within,
          &:hover {
            .icon {
              color: #538e46;
            }
          }
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .lx-btn {
          padding: 0.5rem 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          color: white;

          &#cancel,
          &.cancel {
            background-color: #ff5555;
          }

          &#clear,
          &.clear {
            color: black;
            background-color: white;
          }

          &#save,
          &.save {
            background-color: #538e46;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 64rem) {
  main {
    section {
      .profile-pic {
        max-width: 100%;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 56.25rem) {
  main {
    section {
      form {
        max-width: 100%;
        margin: 0;
      }
    }
  }
}
	

{# end dashoard user #}


</style>
        {% endblock %}
    </head>
    <body>

        {% block menu %}
			{{include('menu.html.twig')}}
        {% endblock %}


        {% block flash %}
            {{include('flash.html.twig')}} 
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
